[submodule "spack"]
  path = spack
  url = https://github.com/climbfuji/spack
  branch = feature/mystuff
[submodule "doc/CMakeModules"]
  path = doc/CMakeModules
  url = https://github.com/noaa-emc/cmakemodules
  branch = develop
